.container
  .row.profile
    .col-md-3
      .profile-sidebar

        .profile-userpic
          = image_tag('p1.jpg', class: "img-responsive profile-user-pic")

        .profile-usertitle
          .profile-usertitle-name
            Marcus Doe
          .profile-usertitle-job
            Developer

        .profile-userbuttons
          %button.btn.btn-success.btn-sm{:type => "button"} Follow
          %button.btn.btn-danger.btn-sm{:type => "button"} Message

        .profile-usermenu
          %ul.nav
            %li.active
              %a{:href => "#"}
                %i.glyphicon.glyphicon-home
                Overview
            %li
              %a{:href => "#"}
                %i.glyphicon.glyphicon-user
                Account Settings
            %li
              %a{:href => "#", :target => "_blank"}
                %i.glyphicon.glyphicon-ok
                Tasks
            %li
              %a{:href => "#"}
                %i.glyphicon.glyphicon-flag
                Help

    .col-md-9
      .profile-content

%br/
- @categories.each do |category|
  %p
    = link_to category.name, image_path(category)
