Hello, #{@user.first_name}
===============================================

In your follow category #{ @category.name } new image

To see it, just follow this link: <%= @url %>.

Thanks for joining and have a great day