.container-comments
  - @comments.each do |comment|
    %p
    -if comment.user
      .container-comment
        .text-name-comment
          =comment.user.first_name + ' ' + comment.user.last_name
        .comment-body
          =comment.body
