= form_with(model: [ @image, @image.comments.build ], url: category_image_comments_path(image_id: @image.id), remote: true) do |form|
  %p
    = form.label :body
    %br
      = form.text_area :body
      -#= form.hidden_field :image_id, value: 5
    %p
      = form.submit