<h2>Comments</h2>
<% @comments.each do |comment| %>
  <p>
    <strong>User</strong>
    <%= comment.user_id %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
<% end %>



<h2><%= link_to 'Add comment', new_comment_path(image_id: params[:id])%></h2>

