.container
  .row.profile
    .col-md-3
      .profile-sidebar
        / SIDEBAR USERPIC
        .profile-userpic
          = image_tag('p1.jpg', class: "img-responsive profile-user-pic")
        / END SIDEBAR USERPIC
        / SIDEBAR USER TITLE
        .profile-usertitle
          .profile-usertitle-name
            Marcus Doe
          .profile-usertitle-job
            Developer
        / END SIDEBAR USER TITLE
        / SIDEBAR BUTTONS
        .profile-userbuttons
          %button.btn.btn-success.btn-sm{:type => "button"} Follow
          %button.btn.btn-danger.btn-sm{:type => "button"} Message
        / END SIDEBAR BUTTONS
        / SIDEBAR MENU
        .profile-usermenu
          %ul.nav
            %li.active
              %a{:href => "#"}
                %i.glyphicon.glyphicon-home
                Overview
            %li
              %a{:href => "#"}
                %i.glyphicon.glyphicon-user
                Account Settings
            %li
              %a{:href => "#", :target => "_blank"}
                %i.glyphicon.glyphicon-ok
                Tasks
            %li
              %a{:href => "#"}
                %i.glyphicon.glyphicon-flag
                Help
        / END MENU
    .col-md-9
      .profile-content
        Some user related content goes here...
