
-#.container
-#  / Photo Grid
-#  .row
-#    .column
-#      = image_tag('images.jpeg', width: '100%' )
-#      = image_tag('images (1).jpeg', width: '100%' )
-#      = image_tag('images (3).jpeg', width: '100%' )
-#      = image_tag('p6.jpeg', width: '100%' )
-#      = image_tag('images (5).jpeg', width: '100%' )
-#      = image_tag('p8.jpeg', width: '100%')
-#    .column
-#      = image_tag('images (2).jpeg', width: '100%' )
-#      = image_tag('p4.jpg', width: '100%' )
-#      = image_tag('images (4).jpeg', width: '100%' )
-#      = image_tag('p6.jpeg', width: '100%' )
-#      = image_tag('images (5).jpeg', width: '100%' )
-#      = image_tag('p8.jpeg', width: '100%')
-#    .column
-#      = image_tag('images (6).jpeg', width: '100%' )
-#      = image_tag('images (7).jpeg', width: '100%' )
-#      = image_tag('images (8).jpeg', width: '100%' )
-#      = image_tag('images (9).jpeg', width: '100%' )
-#      = image_tag('images (4).jpeg', width: '100%' )
-#      = image_tag('p8.jpeg', width: '100%' )
-#    .column
-#      = image_tag('p1.jpg', width: '100%' )
-#      = image_tag('p2.jpg', width: '100%' )
-#      = image_tag('images (11).jpeg', width: '100%' )
-#      = image_tag('p4.jpg', width: '100%' )
-#      = image_tag('images (12).jpeg', width: '100%' )
-#      = image_tag('images (13).jpeg', width: '100%' )
-#    .column
-#      = image_tag('images (14).jpeg', width: '100%' )
-#      = image_tag('p4.jpg', width: '100%' )
-#      = image_tag('p5.jpeg', width: '100%' )
-#      = image_tag('images (15).jpeg', width: '100%' )
-#      = image_tag('images (4).jpeg', width: '100%' )
-#      = image_tag('p8.jpeg', width: '100%' )
-#    .column
-#      = image_tag('images (1).jpeg', width: '100%' )
-#      = image_tag('images (4).jpeg', width: '100%' )
-#      = image_tag('images (6).jpeg', width: '100%' )
-#      = image_tag('p4.jpg', width: '100%' )
-#      = image_tag('images (8).jpeg', width: '100%' )
-#      = image_tag('p6.jpeg', width: '100%' )






