#carouselExampleIndicators.carousel.slide{"data-ride" => "carousel"}
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#carouselExampleIndicators"}
    %li{"data-slide-to" => "1", "data-target" => "#carouselExampleIndicators"}
    %li{"data-slide-to" => "2", "data-target" => "#carouselExampleIndicators"}
    %li{"data-slide-to" => "3", "data-target" => "#carouselExampleIndicators"}
    %li{"data-slide-to" => "4", "data-target" => "#carouselExampleIndicators"}
  .carousel-inner
    .welcome-info
      .back
        %h1
          AWESOME GALLERY
        %p
          go in with us
    .carousel-item.active
      =image_tag('back3.jpg', class: 'carousel-image')
    .carousel-item
      =image_tag('back4.jpg', class: 'carousel-image')
    .carousel-item
      =image_tag('back5.jpg', class: 'carousel-image')
    .carousel-item
      =image_tag('back6.jpg', class: 'carousel-image')
    .carousel-item
      =image_tag('back7.jpg', class: 'carousel-image')
  %a.carousel-control-prev{"data-slide" => "prev", :href => "#carouselExampleIndicators", :role => "button"}
  %a.carousel-control-next{"data-slide" => "next", :href => "#carouselExampleIndicators", :role => "button"}

.second-page
  %h1.txt
    Categories
  .welcome-categories
    - @categories.each do |category|
      -if(category.main_image)
        .welcome-category
          = link_to image_tag(category.main_image, size: '250x220'), category_path(category)
          .name-welcome-category
            %h1.centered
              = link_to category.name, category_path(category)
  %h1.txt
    Images
  .welcome-images
    - @images.each do |image|
      .welcome-image
        =link_to image_tag(image.file.url, size: '250x220'), category_image_path(category_id: image.category, id: image.id)

.third-page
  %h1.centered
    We have a huge number of images and you can add your own!
-#.fourth-page
-#  =image_tag('back2.jpg', class: 'welcome-image')
-#  .content
-#    %h1
-#      Choose us!
-#      %br/
-#    .border-signup
-#      =link_to('Sign up', new_user_registration_path)



