.body-welcome
  #carouselIndicators.carousel.slide{"data-ride" => "carousel"}
    %ol.carousel-indicators
      %li.active{"data-slide-to" => "0", "data-target" => "#carouselIndicators"}
      %li{"data-slide-to" => "1", "data-target" => "#carouselIndicators"}
      %li{"data-slide-to" => "2", "data-target" => "#carouselIndicators"}
      %li{"data-slide-to" => "3", "data-target" => "#carouselIndicators"}
      %li{"data-slide-to" => "4", "data-target" => "#carouselIndicators"}
    .carousel-inner
      .welcome-info
        .back
          %h1
            =t('welcome.awesome_gallery')
          %p
            =t('welcome.go in')
      .carousel-item.active
        =image_tag('back5.jpg', class: 'carousel-image')
      .carousel-item
        =image_tag('back4.jpg', class: 'carousel-image')
      .carousel-item
        =image_tag('back6.jpg', class: 'carousel-image')
      .carousel-item
        =image_tag('back3.jpg', class: 'carousel-image')
      .carousel-item
        =image_tag('back7.jpg', class: 'carousel-image')
    %a.carousel-control-prev{"data-slide" => "prev", :href => "#carouselIndicators", :role => "button"}
    %a.carousel-control-next{"data-slide" => "next", :href => "#carouselIndicators", :role => "button"}

  .second-page
    %h1.txt
      =t('welcome.categories')
    .row
      -@categories.each do |category|
        -if(category.main_image)
          .welcome-category
            .col-12.col-md-3
              = link_to image_tag(category.main_image, class: 'img-category-welcome'), category_path(category)
              .name-welcome-category
                %h1.centered
                  = link_to category.name, category_path(category)

    -#.welcome-categories
    -#  - @categories.each do |category|
    -#    -if(category.main_image)
    -#      .welcome-category
    -#        = link_to image_tag(category.main_image, class: 'img-category-welcome'), category_path(category)
    -#        .name-welcome-category
    -#          %h1.centered
    -#            = link_to category.name, category_path(category)
    %h1.txt
      =t('welcome.images')
    .welcome-images
      - @images.each do |image|
        .welcome-image
          .col-12.col-md-3.col-sm-6
            =link_to image_tag(image.file.url, size: '250x220'), category_image_path(category_id: image.category, id: image.id)

  .third-page
    %h1.centered
      =t('welcome.more and more')




