// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-comment {
  border: 1px solid black;
  width: 500px;
  height: 50px;
}
.user-email {
  margin-left: 0px;
}

.body_comment {

}