// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-comment {
  background: white;
  height: auto;
  border-radius: 5px;
  max-width: 80%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;

}

.text-name-comment {
  background: white;
  font-style: italic;
  font-weight: bolder;
  float: left;
  padding-right: 3%;
}

.user-email {
  margin-left: 0px;
}

.form-comment {

  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}

.avatar-comment {
  vertical-align: middle;
  font-size: 50px;
  border-radius: 50%;
  margin-left: 20px;
  margin-top: 5px;
}

.comment-body {
  background: white;
}
