// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-comment {
  background: moccasin;
  height: auto;
  border-radius: 5px;
  max-width: 550px;
  text-align: left;
}
.user-email {
  margin-left: 0px;
}

.body_comment {

}

.avatar-comment {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 20px;
  margin-top: 5px;
}

.comment-body {
  font: 12pt sans-serif;
  margin-left: 30px;
  margin-top: 10px;
}
