.icon-size
{
  font-size: 87px;
  text-align: right;
}

.navbar-login
{
  width: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  margin-right: -6px ;
}

.indent {
  margin-left: -6px ;
}

.text-name-surname {
  font-size: 12pt;
  padding-right: 20px;
  padding-left: 10px;
  padding-top: 40px;
}

.containter-fluid {
  max-width: 90%;
  margin: auto;
  position: relative;
  z-index: 1;
}


nav.navbar {
  padding-right: 10% ;
  padding-left: 10%;
}
.navbar {
  margin: 0;
  background: white;
  position: relative;
  top: 0;
  z-index: 1;
}

.nav-profile {
  clear: both;
}
