// Place all the styles related to the images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.modal-header {
  border-bottom: 0 none;
}

//.modal {
//  position: relative;
//}

//.modal-dialog {
//  position: absolute;
//  margin: auto;
//  top: 0;
//  bottom: 0;
//  left: 0;
//  right: 0;
//}


#image-modal .modal-body {
  height: 600px;
}

.close-modal {
  position: absolute;
  top: 1%;
  right: 1%;
}

#image-modal {
  margin: 0 auto;
  .container-image {
    min-width: 90%;
    .image {
      height: 70%;
    }
  }
}

#image-modal .modal-content {
  background-color: rgba(0,0,0,0);
  border: none;
}

.container-image {
  //background: white;
  //padding: 2%;
  padding-top: 3%;
  border: 3px black;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
  min-height: 60%;
  display: block;
}

.image {
  text-align: center;
}

.container-comments {
  overflow-y: scroll;
  max-height: 200px;
}

.container-comment-form {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 45%;
  //float: right;
  background: white;

  //display: inline-block;
}

.images-index {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

.body-images {
  padding-top: 3%;
  top: 0;
  z-index: 0;
  width: 100%;
  min-height: 100vh;
  position: relative;
  //background: white;
  background: url("back3.jpg") center no-repeat;
  background-size: cover;
  padding-bottom: 5%;
}

.body-images h1 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1%;
}

@media screen and (max-width: 700px) {
  .images {
    margin-right: 0;
    margin-left: 0;
  }

  .img {
    width: 100%;
    height: auto;
  }
}

.img-in-category {

}

.img:hover {
  opacity: 0.5;
}

.img {
  opacity: 1;
  width: 420px;
  height: 250px;
  //margin: 10px;
  border: 3px black;
}

.images {
  padding-bottom: 30px;
  padding-top: 2%;
  text-align: center;
  //display: block;
  display: table;
  grid-template-columns: auto auto auto;
  margin-left: 12%;
  margin-right: 12%;
}

.gallery {
  //background: white;
  padding-bottom: 30px;
  margin: auto;
  max-width: 80%;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
  grid-auto-rows: 200px 100px;
  grid-auto-flow: dense;

  .item-image {
    img {
      //border-radius: 10px;
      //border-color: black;
      //border-style: solid;
      //border-width: medium;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media(min-width: 480px) {
      &:first-child {
        grid-area: 1 / 1 / span 2 / span 2;
      }
      &:nth-child(3n) {
        grid-column: span 2;
      }
    }
  }
}