// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  text-align: right;
  margin: 10px;
}

h1 {
  text-align: center;
}

.body-edit-registration {
  position: relative;
  width: 100%;
  background: url('back7.jpg') center no-repeat;
  background-size: cover;
  min-height: 160vh;
  padding-top: 3%;
}

.wrapper-avatar-info {
  margin-left: 15%;
  margin-right: 15%;
}

.container-edit {
  position: relative;
  top: 50px;
  display: block;
  background-color: rgba(0,0,0,0.2);
  border-radius: 10px;

  margin-right: 20%;
  margin-left: 20%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.about-user {
  margin: auto;
  display: block;
}

.container-avatar {
  text-align: center;
  margin: auto;
}

.container-info-profile {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 10%;
  border-radius: 10px;
}

.form-label {
  width: 220px;
  margin: auto;
}

.container-edit-form {
  margin: auto;
  padding-top: 2%;
}

#user_avatar{
  background: url('user add.png') center no-repeat;
  background-size: cover;
  width: 300px;
  height: 300px;
}

@media screen and (max-width: 1500px) and (min-width: 1100px) {
  .wrapper-avatar-info {
    margin-right: 15%;
    margin-left: 15%;
  }
  .container-edit {
    margin-right: 10%;
    margin-left: 10%;
  }
}

@media screen and (max-width: 1099px) {
  .wrapper-avatar-info {
      margin-right: 8%;
      margin-left: 8%;
  }

  .container-edit {
    margin-right: 5%;
    margin-left: 5%;
  }
}

@media screen and (max-width: 750px) {
  .body-edit-registration {
    min-height: 250vh;
  }
}

@media screen and (max-width: 700px) {
  .container-edit {
    display: block;
    margin: auto;
  }

  #user_avatar {
    width: 200px;
    height: 200px;
  }

}
