// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome-image {
  max-height: 550px;
  z-index: 0;
  width: 100%;
  height: 20%;
  background-position: center ;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-size: 180%;
  font-family: "Lucida Console", Monaco, monospace
}

p {
  font-family: "Lucida Console", Monaco, monospace
}

.welcome-info {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid white;
  height: 200px;
  width: 400px;
  position: absolute;
  z-index: 1;
}

.welcome-info.back h1 {
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.welcome-info.back p {
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.centered {

}

.back {
  border-radius: 15px;
  //padding: 5%;
  padding-top: 13%;
  padding-right: 16%;
  padding-bottom: 13%;
  padding-left: 16%;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.second-page {
  height: auto;
  width: 100%;
  position: relative;
}

.welcome-categories {
  position: relative;
  margin-top: 20px;
  width: 80%;
  display: flex;
}

.welcome-category {
  padding: 20px;
  margin: auto;
  width: 250px;
  height: 300px;
}

.name-welcome-category {
  height: 80px;
  width: auto;
  padding-top: 0;
  background: aquamarine;
}

h1.txt {
  padding-top: 50px;
}

.third-page {
  height: 400px;
  width: 100%;
  position: relative;
  background: white;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.fourth-page {
  position: relative;
}

.border-signup {
  border: 3px black;
}
