// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.carousel-image {
  max-height: 550px;
  z-index: 0;
  width: 100%;
  height: 20%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-size: 180%;
  font-family: "Lucida Console", Monaco, monospace;
}

p {
  font-family: "Lucida Console", Monaco, monospace;
}

.welcome-info {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid white;
  height: 200px;
  width: 400px;
  position: absolute;
  z-index: 1;
}

.welcome-info.back h1 {
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.welcome-info.back p {
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.centered {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
}

.back {
  border-radius: 15px;
  //padding: 5%;
  padding-top: 13%;
  padding-right: 16%;
  padding-bottom: 13%;
  padding-left: 16%;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.second-page {
  height: auto;
  max-width: 80%;
  position: relative;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.welcome-categories {
  position: relative;
  width: 100%;
  display: block;
  text-align: center;
}

.welcome-category {
  padding: 20px;
  margin: 0 auto;
  display: inline-block;
  opacity: 1;
}

.welcome-images {
  margin-bottom: 40px;
}

.welcome-image {
  position: relative;
  padding:10px;
  float: none;
  margin:10px;
  display: inline-block;
  opacity: 1;
}

.welcome-image:hover {
  opacity: 0.8;
}


.welcome-category:hover {
  opacity: 0.8;
}

.name-welcome-category {
  height: 80px;
  width: auto;
  padding-top: 0;
  background: powderblue;
  //background: lightblue;
}

.name-welcome-category a:link {
  text-decoration: none;
  text-decoration-color: black;
}

h1.txt {
  padding-top: 50px;
  padding-bottom: 20px;
}

.third-page p {
  justify-content: center;
}

.third-page {
  height: 400px;
  width: 100%;
  position: relative;
  background: url('back2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

