= form_with(model: @category, local: true) do |form|
  .form-inline
    .form-category
      -#= form.label t('categories.index.modal.name'), class: 'form-control '
      = form.text_field :name, class: 'form-control', placeholder: t('categories.show.model.enter_name')
      = form.submit t('categories.index.modal.create category'), class: 'form-control btn btn-primary'