= form_with(model: @category, local: true) do |form|
  .field
    = form.label t('categories.index.modal.name')
    = form.text_field :name
  .actions
    = form.submit t('categories.index.modal.create category')
