= render 'welcome/header'
%tbody
  - @images.each do |image|
    .location
      =link_to image_tag(image.file.url), category_image_path(@category, id: image.id)
      -##myModal
  %p= link_to image_tag('addImage.png', class: "img-thumbnail", size: "240x150"), "#form_modal", "data-toggle" => "modal"

= render 'images/modal'
