= form_with( model: [@category, @category.images.build]) do |f|
  .form-inline
    .form-category
      = f.file_field :file, class: 'form-control-file border border-white', placeholder: 'Chose file', style: 'margin-bottom: 5px'
      = f.text_field :name, class: 'form-control', placeholder: t('categories.show.model.enter_name')
      = f.submit t('categories.show.model.create image'), class: 'form-control btn btn-primary'