= form_with( model: [@category, @category.images.build]) do |f|
  .form-inline
    .form-category
      -#= f.label t('categories.index.modal.name'), class: 'form-control'
      = f.file_field :file, class: 'form-control-file border border-white', placeholder: 'Chose file', style: 'margin-bottom: 5px'
      = f.text_field :name, class: 'form-control', placeholder: 'Enter name'
      -#= f.label :file, class: 'form-control'
      = f.submit t('categories.show.model.create image'), class: 'form-control btn btn-primary'
