.close-modal
  %button.close{"data-dismiss" => "modal", type: "button"}
    =image_tag('close-modal.png', size: "20x20")

#image-modal.modal.fade{role: "dialog"}
  .modal-dialog.modal-xl
    .modal-content
      .modal-body
        =render 'show_image', image: @image
