-if current_user.likes?(@image)
  =link_to "Unlike #{@likes}", delete_like_category_image_path(@image), method: :put
-else
  =link_to "Llike #{@likes}", new_like_category_image_path(@image), method: :put
