#form_modal.modal.fade{:role => "modal"}
  .modal-dialog
    / Modal content
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        / <h4 class="modal-title">Modal Header</h4>
        %h4.modal-title.text-center
      .modal-body
        = image_tag(@image.file.url, remote: true)
        %br
        %table
          %tbody
            -#-@comments.each do |comment|
            -#  = comment.body
            -#= var = @image
            -#= render 'comments/form'
            = render 'comments/form'
            = render @image.comments
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
