%h1 Hello
%p= link_to 'New', new_image_path(category_id: params[:id])
%tbody
  - @images.each do |image|
    %p
      = image_tag(image.file.url, id: "myImg", size: "240x150", "data-target" => "#myModal"," data-toggle" => "modal", data: {image_id: image.id}, class: "open-AddBookDialog")
      -#-if current_user.likes?(image)
      -#  =link_to 'Unlike', delete_like_image_path(image), method: :put
      -#-else
      -#  =link_to 'Like', new_like_image_path(image), method: :put
  %p= link_to image_tag('addImage.png', class: "img-thumbnail", size: "240x150"), new_image_path(category_id: params[:id])

%h2 Large Modal
/ Trigger the modal with a button
-#%button.btn.btn-info.btn-lg{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"}
/ Modal
#myModal.modal.fade{:role => "dialog"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
      .modal-body
        = image_tag('p2.jpg', id: "myImg")
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close





