- modal_id ||= nil
.modal.fade{:role => "modal", tabindex: "-1", id: modal_id}
  .modal-dialog
    / Modal content
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title.text-center
      .modal-body
        = yield
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close